
div#gridPanel 
{
  width:900px;
  overflow:scroll;
  position:relative;
}


div#gridPanel th
{  
  top: expression(document.getElementById("gridPanel").scrollTop-2);
  left:expression(parentNode.parentNode.parentNode.parentNode.scrollLeft);
  position: relative;
  z-index: 20;
}

div.inLineDivContainer {
	width: 100%;
	overflow:hidden;
	margin:auto;
}

div.inLineDiv {
	float:left;
	overflow:hidden;
}

label
{
	float:left;
	display:block;
	clear:both;
	width:200px;
}

.ui-logHistoryMenu { 
	width: 150px; 
}

.slick-row:hover {
	background-color:#cdcdcd;
}