
div#gridPanel 
{
  width:900px;
  overflow:scroll;
  position:relative;
}


div#gridPanel th
{  
  top: expression(document.getElementById("gridPanel").scrollTop-2);
  left:expression(parentNode.parentNode.parentNode.parentNode.scrollLeft);
  position: relative;
  z-index: 20;
}

div.inLineDivContainer {
	
	overflow:hidden;
	margin:auto;
}

div.inLineDiv {
	float:left;
	overflow:auto;
	width:75%;
	margin: 5px;
}

div.inLineDiv#logHistoryMenu {
	width: 20%;
	overflow:hidden;
	
}


label
{
	float:left;
	display:block;
	clear:both;
	width:200px;
}

.ui-logHistoryMenu { 
	overflow:hidden;
	width: 150px; 
}

.slick-row:hover {
	background-color:#cdcdcd;
}

}

/* to break up long paths Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
   }