@(projName : String,  goalName : String, goalStatus : com.klout.satisfaction.executor.actors.GoalStatus, logs : Option[String], pg : Option[PlumbGraph]  )

@import helper._
@import scala.collection.JavaConversions._
@import com.klout.satisfaction._
@import com.klout.satisfaction.executor._

<meta http-equiv="refresh" content="5">

@main( s"Goal Status Project $projName Goal $goalName " ) {
    
     <h1>Satisfaction !!!</h1>
    <h1>Project @projName Goal @goalName </h1>
    <h2> Status of goal is <blink>@goalStatus.state</blink
    
  <table>
  <tr>
  <td>
	    <h3>Current Log Output</h3> 
 <div id="log_output" style="width:800px;height:200:px;overflow:scroll"> 
  
   @logs match  {
      case Some(logFile) => {
      	
   	    @Html( logFile )
  	   }
   	 case None => {
      <h3>No current log output</h3>
     }	    
   }
   </div>
   </td>
   <td>
   
    @pg match { case Some(graph) =>
  		  @jsplumbgraph(graph) 
  }
  	 
   </td>
   
   </tr>
   </table>
   	  
    
}
