@(plumbGraph : PlumbGraph )

@import helper._
@import scala.collection.JavaConversions._
@import com.klout.satisfaction._
@import models._

<script type="text/javascript">
 jsPlumb.bind("ready", function() {
 	    jsPlumb.setRenderMode(jsPlumb.SVG);

    jsPlumb.Defaults.Anchors = ["TopCenter", "BottomCenter"];

    jsPlumb.Defaults.Connector = [ "Flowchart", { cornerRadius:4} ];
    jsPlumb.Defaults.Endpoint = "Blank";
    ///jsPlumb.Defaults.PaintStyle = { lineWidth:3  };
    ///jsPlumb.Defaults.ConnectionOverlays = [ "Arrow" , { width:15, length:30, location:1 } ];
    jsPlumb.draggable($(".window"));

    @Html( plumbGraph.generateJavaScript )
   
 });
</script>

<style type="text/css">
._jsPlumb_overlay { z-index:51; }
._jsPlumb_endpoint { z-index:50; cursor:move; }
._jsPlumb_connector { z-index:1; }

.window { border:1px solid #346789;
   box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
-moz-border-radius:0.5em;
border-radius:0.5em;
opacity:0.8;
filter:alpha(opacity=80);
line-height:5em;
text-align:center;
z-index:20; 
position:absolute;

background-color:#eeeeef;
color:black;
font-family:helvetica;
padding:1px;
font-size:0.9em;}
.window:hover {
box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #444;
    opacity:0.6;
filter:alpha(opacity=60);
}

.dropHover { border:1px solid orange; }
  </style> 
   
   
<div id="jsPlumbGraph" style="width:@(plumbGraph.divWidth)px;height:@(plumbGraph.divHeight)px;overflow:scroll;position:relative">
 @Html( plumbGraph.generateHtmlDivs )
</div>




