@(trackName : String,  goalName : String, witness : satisfaction.Witness , logs : Option[String] , attemptNum : Option[Int], logType : String)

@import helper._
@import scala.collection.JavaConversions._
@import satisfaction._
@import satisfaction.engine._
@import satisfaction.engine.actors._
@import models.HtmlUtil

@main( s"LogWindow  $trackName Goal $goalName $witness " ) {
    
     <h1>Satisfaction !!! Log Window</h1>
    <h1>Project @trackName Goal @goalName @witness </h1>
    
    
    
     @attemptNum match {
        case Some(n) => { 
           <h2>Attempt Number: @n</h2>
        }
        case None => {}
     }
     
<div>
 
 @defining( attemptNum match {
          case Some(n) => s"__ATTEMPT_$n"
          case None => ""
  } ) { attemptQuery =>
  <iframe id="logFrame" width="1750px" height ="800px" style="overflow:scroll"
      src='/@logType/@helper.urlEncode(trackName)/@helper.urlEncode(goalName)/@helper.urlEncode(HtmlUtil.witnessPath(witness))@attemptQuery' onload="scrollDown()">
  </iframe>
</div>

<h3> logType is @logType </h3>

}
   

      <script type="text/javascript">

      var frameHeight= parseInt($("#logFrame").get(0).height, 10)


      setInterval(function(){
          var frame = $("#logFrame").get(0).contentWindow.document.body
          var scrollPosn = frame.scrollTop + frameHeight
          var contentHeight = frame.scrollHeight

          
          if (scrollPosn  >= contentHeight) { 
            $('#logFrame').get(0).contentWindow.location.reload(true);
          } 
      },2000);
      
      function scrollDown() {
    	 $("#logFrame").get(0).contentWindow.scrollTo(0,$("#logFrame").get(0).contentWindow.document.body.scrollHeight)
      }

      </script>
}
