@(trackName : String,  goalName : String, witness : satisfaction.Witness , logs : Option[String]  )

@import helper._
@import scala.collection.JavaConversions._
@import satisfaction._
@import satisfaction.engine._
@import satisfaction.engine.actors._
@import models.HtmlUtil

@main( s"LogWindow  $trackName Goal $goalName $witness " ) {
    
     <h1>Satisfaction !!! Log Window</h1>
    <h1>Project @trackName Goal @goalName @witness </h1>
    

      <h3>Current Log Output</h3> 
<div>
  <iframe id="logFrame" width="1750px" height ="800px" style="overflow:scroll" src='/rawlog/@helper.urlEncode(trackName)/@helper.urlEncode(goalName)/@helper.urlEncode(HtmlUtil.witnessPath(witness))' onload="scrollDown()">
  </iframe>
</div>

   

      <script type="text/javascript">

      
      var frameHeight= parseInt($("#logFrame").get(0).height, 10)


      setInterval(function(){

          var frame = $("#logFrame").get(0).contentWindow.document.body
          var scrollPosn = frame.scrollTop + frameHeight
          var contentHeight = frame.scrollHeight

          
          if (scrollPosn  >= contentHeight) { 
            $('#logFrame').get(0).contentWindow.location.reload(true);
          } 
      },2000);
      
      function scrollDown() {
    	 $("#logFrame").get(0).contentWindow.scrollTo(0,$("#logFrame").get(0).contentWindow.document.body.scrollHeight)
      }
      </script>
}
