@(title: String)(content: Html)
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/demos/jquery-ui-1.10.3.custom.min.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/slick.grid.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/slick.columnpicker.css")">
        
        <script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.jsPlumb-1.5.2-min.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
