@(dbName : String , tblName : String, metadataForm: Form[MetaDataHolder] )

@import helper._
@import org.apache.hadoop.hive.metastore._
@import org.apache.hadoop.hive.ql.metadata._
@import scala.collection.JavaConversions._


@main( "MetaData for " + dbName + " " + tblName  ) {
    
    <h1>MetaData for  @dbName :: @tblName </h1>
    
    <form method="POST" action="/addmetadata/@dbName/@tblName">
 <input type="hidden" name="dbName" value="@dbName"
 <input type="hidden" name="tblName" value="@tblName"
 <table>
 <tr>
 <td>
<div id="metadata">
  <h3>MetaData</h3>
 <table>
  <thead><td>Property</td><td>Value</dt></thead>
  @hive.ms.MetaStore.getTableMetaData( dbName, tblName).map { case(k,v) =>
  	<tr><td>@k</td><td>@v</td></tr>
  	}
</div> 
</td>
 </tr>
 <tr>
 <td><p>MetaData Key</p> @helper.inputText(metadataForm("key"), '_label -> "MetaData Key")</td>
 <td><p>MetaData Value</p>@helper.inputText(metadataForm("value"), '_label -> "MetaData Value")</td>
 </tr>
 <tr><td></td><td><td><input type="submit" value="Add MetaData" class="btn primary"/>
 </table>
 </form>
    
    
    </form>
}
