@(projName : String,  goalName : String, varList : List[com.klout.satisfaction.Variable[_]]   )

@import helper._
@import scala.collection.JavaConversions._
@import com.klout.satisfaction._



@main( "Satisfy Goal " + goalName + " for Project " + projName ) {
    
    <h1>Satisfy Goal @goalName for Project @projName  </h1>
<form method="POST" action="/satisfygoal/@projName/@goalName">
  <table>  
   <tr><td><h3>Variables</h3></td>
    <td>
    </td>
    <td></td></tr>
   <tr>
   <td>
    <ul>
      @varList.map { varObj =>
     	 <li>@varObj.name </li> 	  
      }
    </ul>
    </td>
    <td>
    <ul>
      @varList.map { varObj =>
      	 <li>
      	  <input type="text" name="@varObj.name" />
      	 </li>
      } 
    </ul>
    </td> 
    <td>
    </td> 
    <ul>
      @varList.map { varObj =>
      	 <li>@varObj.description</li>
      } 
    </ul>
    
    </tr>
 </table>    
   <input type="text" name="network_abbr">tw</input>
  <input type="submit"><bold><blink>Satisfy !!!</blink></bold></input>
 </form>
    
}
