@(tdList : Seq[com.klout.satisfaction.TrackDescriptor], scList: Seq[com.klout.satisfaction.TrackDescriptor])


@import helper._
@import scala.collection.JavaConversions._
@import com.klout.satisfaction._
@import com.klout.satisfaction.engine._
@import com.klout.satisfaction.engine.actors._
@import models.HtmlUtil

@main( s"Satisfaction Scheduler Status" ) {
	<script>
	$(function() {
	    $( document ).tooltip();
	    $('.scheduleRule').prop('selectedIndex', -1);
	  });
	</script>
	
		<h1> Scheduler</h1>
		
		<h2> Scheduled Tracks</h2>
		<table>
			<thead>
				<td> Track </td>
				<td> Status </td>
				<td> Type (cron vs rec) </td>
				<td> schedule </td>
				<td> readable schedule </td>
				<td> scheduled on </td>
				<td> recent run </td>
				<td> unschedule <td>
			</thead>
			@scList.map { td =>
				<tr>
					<td> td.trackName </td>
					<td>- </td>
					<td>- </td>
					<td>- </td>
					<td>- </td>
					<td>- </td>
					<td>- </td>
					<td><button id ="unscheduleButton" onClick="window.location.href='/unscheduleonejob/@td.trackName'">Unschedule</button></td>
				</tr>
				}

		</table>
		<h2> Unscheduled Tracks</h2>
		<table>
			<thead>
				<td> Track </td>
				<td> Status </td>
				<td>Scheduling Option</td>
			</thead>
			@tdList.map { td =>
				<tr>
					<td>@td.trackName</td>
					<td>"NO!"</td>	
					<td>
						<form  method = "post" action="scheduletrack/@td.trackName">
							Type: <input type = "text" name="rule" title = "cron or recur">
							Pattern:<input type="text" name="pattern" title="If Recurring: format must be standard: PyYmMwWdDThHmMsS">
							<input type="submit">
						</form>
					</td>
				</tr>
				}
		</table>

  

	}