@(trackDesc : com.klout.satisfaction.TrackDescriptor,  goalList : List[String], dependList : List[String]  )

@import helper._
@import scala.collection.JavaConversions._
@import com.klout.satisfaction._



@main( s"Track ${trackDesc.trackName} ") {
    
     <h1>Satisfaction !!!</h1>
    <h1>Track @trackDesc.trackName  </h1>
    <h2>Version @trackDesc.version </h2>
  <table>  
   <tr><td><h3>Goals</h3></td>
    <td>
    <h3>External Dependencies</h3>
    </td>
   <tr>
   <td>
    <ul>
      @goalList.map { goal =>
     	 <li><a href="satisfygoal/@{trackDesc.trackName.replace("/","_sl_")}/@{goal.replace("/","_sl_")}" target="_blank">@goal </a> </li> 	  
      }
    </ul>
    </td>
    <td>
    <ul>
      @dependList.map { dep =>
      	 <li>@dep</li>
      } 
    </ul>
    </td> 
     
    
    
    </tr>
 </table>    
 
 <button id="listFiles" onClick="window.open('/listfiles/@trackDesc.trackName')">List Files</button>
 <button id="logHistory" onClick="window.open('/loghistory/@trackDesc.trackName')">Log History</button>
 
    
}
