@(dbName : String , tblName : String, tab: org.apache.hadoop.hive.ql.metadata.Table, 
	  partNames : List[String])

@import helper._
@import org.apache.hadoop.hive.metastore._
@import org.apache.hadoop.hive.ql.metadata._
@import scala.collection.JavaConversions._



@main( dbName + " :: " + tblName ) {
    
     <h1>Satisfaction !!!</h1>
    <h1>Database @dbName Table @tblName of Type @tab.getTableType </h1>
     <h2>@tab.getCompleteName</h2> 
     <h2>Location @tab.getDataLocation.toASCIIString</h2>
     <h2>Total Space Used : @hive.ms.MetaStore.getSpaceUsed( dbName, tblName ) </h2>
     <h2>Partitioned by</h2>
    <ul>
      @tab.getPartCols.toList.map { part =>
     	 <li>@part.getName :  @part.getType</li> 	  
      }
    </ul>
 <table >
 <tr> <td>
 <div id="column" style="width: 300px" >
   <h3>Columns</h3>
  <div id="column-table" style="overflow-y:scroll; height:300px">
 <table style="overflow-y:scroll; height:300px">
  <thead><td>Column</td><td>Type</dt><td>Comments</td> </thead>
  <tbody>
  @tab.getFields.toList.map { field =>
  	<tr><td>@field.getFieldName</td><td>@field.getFieldObjectInspector.getTypeName</td>
  	  <td>@field.getFieldComment</td></tr>
  	  
  }
  </tbody>
  
 </table>    
 </div>
 </div>
 </td>
 <td>
<div id="metadata" style="width: 300px">
  <h3>MetaData</h3>
  <div id="metadata-table" style="overflow-y:scroll; height:300px">
 <table style="overflow-y:scroll; height:300px">
  <thead><td>Property</td><td>Value</dt></thead>
  <tbody>
  @hive.ms.MetaStore.getTableMetaData( dbName, tblName).foreach { case(k,v) =>
  	<tr><td>@k</td><td>@v</td></tr>
  	}
  	</tbody>
  </table>
  </div>
</div> 
 <button id="addMetaDataButton" onClick="window.open('/metadata/@dbName/@tblName">Add MetaData</button>
 <button id="addSLAButton" onClick="window.open('/addsla/@dbName/@tblName">Add SLA</button>
 <button id="addGoalButton" onClick="window.open('/linkgoal/@dbName/@tblName">Link Goal</button>
</td>
<td><div id="partitions" style="width: 300px">
  <h3>Partitions</h3>
  <div id="partition-table" style="overflow-y:scroll; height:300px">
 <table style="overflow-y:scroll; height:300px">
  <tbody>
   @partNames.map { partName =>
   	    <tr><td><@partName</td>
   	    <tr><td><a href="" onclick="window.open('/showpartition/@dbName/@tblName/@partName.replace('/','@')')"; return false" target="_blank">@partName</a></td></tr>
   	     </tr>
   	}
   	</tbody>
 </table> 
 </div>
</div></td>

 </tr>
 </table>
    
    
}
