@( tdList  : Seq[com.klout.satisfaction.executor.track.TrackDescriptor] )

@import helper._
@import scala.collection.JavaConversions._
@import com.klout.satisfaction._
@import executor.track._



@main( "Track Schedules") {
    
     <h1>Satisfaction !!!</h1>
    <h1>Track Schedules  </h1>
  <table>  
   <tr><td><h3>Deployments</h3></td>
  <table> 
   <thead><td>Track</td><td>User</td><td>Variant</td><td>Version</td></thead> 
  @tdList.map { td =>
  	<tr><td>@td.trackName</td><td>@td.forUser</td><td>@td.variant</td><td>@td.version</td></tr>
  }	 
   
   </table>
  
    </tr>
 </table>    
    
}
