@(dbName : String , tblName : String )
///(dbName : String , tblName : String, slaForm: Form[SLA] )

@import helper._
@import org.apache.hadoop.hive.metastore._
@import org.apache.hadoop.hive.ql.metadata._
@import scala.collection.JavaConversions._


@main( " SLA for " + dbName + " " + tblName  ) {
    
    <h1>SLA for  @dbName :: @tblName </h1>
    
    <form method="POST" action="/updatesla/@dbName/@tblName">
 <table>
 <tr>
 <td><h3>Priority</h3></td><td><h3>Frequency</h3></td><td><h3>Time of Day</h3></td></tr>
<tr>
<!--
<td> #select( field=slaForm("priority") , 
	   options=("Critical" -> "HARD", "Expected" -> "EXPECTED", "Soft" -> "SOFT" ) )
  </td>
<td> #select( field=slaForm("frequency") , 
	   options=("Daily" -> "DAILY", "Weekly" -> "WEEKLY", "Monthly" -> "MONTHLY" ) )
  </td>
 <td>
 <td>#inputtextarea("timeofday")</td>
 </td>
  
   -->
  
 <table>
  <thead><td>Property</td><td>Value</dt></thead>
  #hive.ms.MetaStore.getTableMetaData( dbName, tblName).map { case(k,v) =>
  	<tr><td>#k</td><td>#v</td></tr>
  	}
</div> 
</td>
 </tr>
 <tr>
 <td><p>MetaData Key</p> #helper.inputText(metadataForm("key"), '_label -> "MetaData Key")</td>
 <td><p>MetaData Value</p>#helper.inputText(metadataForm("value"), '_label -> "MetaData Value")</td>
 </tr>
 <tr><td></td><td><td><input type="submit" value="Add MetaData" class="btn primary"/>
 </table>
 </form>
    
    
    </form>
}
