@(grList: Seq[willrogers.controllers.TrackHistoryPage.trackHistory.GoalRun])

@import helper._
@import scala.collection.JavaConversions._
@import satisfaction._
@import satisfaction.engine._
@import satisfaction.engine.actors._
@import models.HtmlUtil


@main("Track History Page") {
	
	<table width="100%">
		<tr>
			<td valign="top" width="60%">
				<h2>Track History</h2>
				<div id="trackHistory" style="width:700px;height:600px;"></div>
			</td>
			<td valign="top">
				<h2>Filtering Menu for Track History</h2>
			</td>
		</tr>
	</table>
	
	<script type="text/javascript" charset="utf8" src="@routes.Assets.at("javascripts/jquery.event.drag-2.2.js")"></script>
	<script type="text/javascript" charset="utf8" src="@routes.Assets.at("javascripts/slick.core.js")"></script>
   <script type="text/javascript" charset="utf8" src="@routes.Assets.at("javascripts/slick.grid.js")"></script>
 	
 	<script>
 		var grid;
 		var columns = [
 	                   {id: "id", name: "ID", field: "id"},
 	                   {id: "trackName", name: "Track Name", field: "trackName"},
 	                   {id: "goalName", name: "GoalName", field: "goalName"},
 	                   {id: "witness", name: "Witness", field: "witness"},
 	                   {id: "startTime", name: "Start Time", field: "startTime"},
 	                   {id: "endTime", name: "End Time", field: "endTime"},
 	                   {id: "status", name: "Status", field: "status"},
 	                   {id: "log", name: "Log File", field: "log"}
 	              ];

 	    var options = {
 	    	    enableCellNavigation: true,
 	            enableColumnReorder :false
 	            };
 	   $(function () {
 	      var data = [];
		@grList.map { gr => 
			data[@grList.length - @gr.runId] = {
				id: @gr.runId,
				trackName: "@gr.trackDescriptor.trackName",
  	          	goalName: "@gr.goalName",
  	          	witness: "need DOM for witness variable",
  	          	startTime: "@gr.startTime", 
  	          	endTime: "@gr.endTime",
  	          	status: "@gr.state",
  	          	log: "need DOM for log file link"
			};
		}


 	     
 	      
 	      grid = new Slick.Grid("#trackHistory", data, columns, options);
 	        })
        
 	</script>
  

	}